################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/App5/App5.Android/obj/Debug/90/resourcecache/designer-resources
